/* Genel ayarlar */
body {
  margin: 0;
  padding-top: 100px; /* header sabit, içerik aşağı kaymasın */
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* Header içerik kutusu */
header .container {
  max-width: 1200px;   /* sayfa genişliği sınırlı */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: auto; /* logo daha büyük */
  width: 350px;
}

/* MENÜ */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

/* DROPDOWN */
nav ul li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(0,0,0,0.8);
  padding: 10px;
  list-style: none;
  min-width: 150px;
}

nav ul li:hover .dropdown {
  display: block;
}

nav ul li .dropdown li {
  margin: 5px 0;
}

nav ul li .dropdown li a {
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to bottom right, #90ad99, #9ebda6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fbfbfb; 
}

.hero p {
  font-size: 20px;
  max-width: 700px;
}
